body {
    font-family: Helvetica, sans-serif;

}

.identificacao {
    background-color: #579FF0;
    color: #FCFCFD;

}

.identificacao h1 {
    font-size: 2.5em;


}

.identificacao h2 {
    font-size: 1.5em;
    font-weight: lighter;
}

section h3 {
    font-size: 1.7em;
}

header li a {
    color: #99A0B0;
    font-weight: Lighter;

}

.escuras {
    background-color: #2b313e;
    color: #FCFCFD;
}

.claras {
    background-color: #FCFCFD;
    color: #2B313E;

}


.styleprojetos li{
    background-color:#6F768B;
    
}

.styleprojetos li a {
    color:#FFF;
    font-size: 1.3em;

}
#Sobre img {
    width: 200px;
}