* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;

}

a {
    text-decoration: none;
}

section img {
    width: 100%;
    max-width: 300px;
}

header {
    border-bottom: 1px solid #CCC;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    width: 100%;
    height: 3em;
}

header ul {
    text-align: right;
    
}

header li a {
    color: #99A0B0;
    font-weight: lighter;
    text-transform: uppercase;
    
}

header li {
    display: inline-block;
    margin-left: 3em;
    
}

#Contato li {
    display: inline-block;
}

#Contato li a {
    display: inline-block;
    margin: 1em;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
}

#Contato .email {
    background-image: url("../Imagens/email.png");
}

#Contato .face {
    background-image: url("../Imagens/fic.png");
}

#Contato .twitter {
    background-image: url("../Imagens/twitter.png");
}

#Contato .github {
    background-image: url("../Imagens/github.png");
}

#Contato .linkedin {
    background-image: url("../Imagens/linkedin.png");
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

section {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}


.identificacao {
    background-color: #f8bdc6;
    color: #FCFCFD;
    padding: 4em 5em 1.5em;
    border-width: medium;
    border-style: solid;
    border-color: #FF1493;
}

.identificacao h1 {
    font-size: 2.5em;
    margin-bottom: 0.7em;
    
}

.identificacao h2 {
    font-size: 1.5em;
    font-weight: lighter;

}

section h3 {
    font-size: 1.7em;
    margin-bottom: 0.8em;

}

header li a {
    color: #99A0B0;
    font-weight: lighter;

}

.escuras {
    background-color: #2b313e;
    color: #FCFCFD;
}

.projetos-header h3{
    margin-top: 1em;
}

.claras {
    background-color: #FCFCFD;
    color: #2B313E;

}

.projetos-header {
    float: left;
    width: 30%;
    
}

.musica {
    width: 1px;
    height: 1px;
    margin-left: 2.8%;
    
}

.styleprojetos {
    margin-left: 40%;

}

.styleprojetos li{
    background-color: #F0E68C;
    padding: 1em;
    margin-bottom: 1.5em;
    border-width: medium;
    border-style: solid;
    border-color: #FF1493;

}

.styleprojetos li a {
    color:#FFF;
    font-size: 1.3em;
    color: #2B313E;

}

.styleprojetos li p {
    color: #FFF;
    margin-top: 0.5em;
    text-align: center;
    line-height: 1.2;
    color: #2B313E
}

#Sobre p.text {
    margin: 1em;
    width: 50%;
    text-align: center;
    line-height: 1.4em;
    font-weight: bold;

}
#Sobre p.Nome {
    color: #2B313E;
    font-size: 1.5em;
    margin: 1em;
    width: 50%;
    font-weight: bold;
}

#Sobre {
    position: relative;
    background-color: #f8bdc6;
    border-width: medium;
    border-style: solid;
    border-color: #FF1493;

}

#Sobre img {
    width: 195px;
    position: absolute;
    top: 0em;
    right: 10%;
}

#Projetos {
    background-image: url("../Imagens/fundo.jpg");
    background-size: cover;
}

#P
footer {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}